.header-container{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    
    .login{
        &:hover{
            svg{
                fill: #fff;
                stroke: white;
            }
        }
    }
}

.active{
    @apply bg-blue-500 text-white fill-white
}

