/* You can add global styles to this file, and also import other style files */
@use './assets/styles/base';
@use './assets/styles/variable';
@import 'ngx-toastr/toastr';
@font-face {
    font-family: Intro Bold;
    src: url(./assets/fonts/Intro_Bold_Alt.otf);
}
@font-face {
    font-family: Intro Book;
    src: url(./assets/fonts/IntroBookAlt.otf);
}
@font-face {
    font-family: Intro Light;
    src: url(./assets/fonts/IntroLightAlt.otf);
}
@font-face {
    font-family: Intro Regular;
    src: url(./assets/fonts/IntroRegularAlt.otf);
}
@font-face {
    font-family: Intro Thin;
    src: url(./assets/fonts/IntroThinAlt.otf);
}


@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --app-width:min(1600px,100%);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f1f2f4;
    font-family: Intro Book, sans-serif;
}

.container-block{
    width: var(--app-width);
    margin-inline: auto;
    // padding-inline:1rem ;
    display: block;
}